registry = http://deheremap6392:8082/artifactory/api/npm/npm-virtual
_auth = a2FzYW1hbXI6QVA0Qnc4TEMxVEpEU0RrNllVUUhSR1NSUDQ3
always-auth = true
email = Amrutharao.Kasamalla@externals.adidas-group.com