<div class="mos-filter-section filter-container {{field.field}}">
	<div class="filter-header pointer" ng-class= "{'header-dark-background' : field.openfilter}" 
		ng-click="removeError(null);openFilter({'field':field})">
		<span class="filter-label text-uppercase text-ellipsis" ng-show="!currentfilter" tooltip="{{::field.description}}" tooltip-placement="top" tooltip-popup-delay="{{::dpConfig.toolTipDelay}}">{{field.description}}</span>
		<span class="mos-ico icon icon-xs clear-filter-icon" ng-show="currentfilter" ng-click="clearFilter(false,$event)"></span>
		<span class="filter-label text-ellipsis text-uppercase" ng-show="currentfilter">{{currentfilter}}</span>
		<span 
			ng-class="{'mos-ico icon icon-xs collapse-icon-pos collapse-icon' : !field.openfilter, 'mos-ico icon icon-xs collapse-icon-pos expand-icon' : field.openfilter }" ></span>
	</div>
	<dp-loading-circles loading-text="loading" circle-color="black" loading-theme="black" ng-show="field.loading">
	</dp-loading-circles>
	<div ng-show="field.openfilter" description="{{field.description}}">
		<div ng-if="titles.length > 0" class="filter-list outerdimension" ng-repeat="title in titles">
			<div class= "wd100 padding-5" elem="type{{title}}">
				{{title}}
			</div>
			<div class="filter-range wd100" ng-class= "{'col-pad-5' : !$last}">
				<input class="{{field.field}}-start {{$index}}" type="text" maxlength="4" placeholder="FROM" class="custom-range-val" ng-model="selectedItems[title.toLowerCase().split(' ').join('')].start" ng-keypress="validateValue($event)"elem="start{{title.toLowerCase().split(' ').join('')}}">
				<input class="{{field.field}}-end {{$index}}" type="text" maxlength="4" placeholder="TO"
					class="custom-range-val" ng-model="selectedItems[title.toLowerCase().split(' ').join('')].end" ng-keypress="validateValue($event)" elem="end{{title.toLowerCase().split(' ').join('')}}">
			</div>
		</div>
		<div ng-if="titles.length > 0" class="filter-buttons-outerdimension">
			<div class= "submit-composition">
				<button type="button" class="mos-ico icon icon-md right-grey-arrw" ng-click="validate(field)"></button>
			</div>
		</div>
		<!-- for trimtype filter only in appreal -->
		<div ng-if="titles.length == 0" class= "padding-10"> 
			Please choose a trimtype from the hierarchy tree first.
		</div>
	</div>
	<p class="filter-error-container" ng-show="errormessage">
		<span class='error'>{{errormessage}}</span>
	</p>
</div>